.page-4 {
  background: radial-gradient(50% 50% at 50% 50%, #ffc2d1 0%, #ef94a9 44.27%, #d74c6d 100%);

  &:before {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    content: "";
    background-image: url("../img/slide_2/right.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.2;
  }

  &__content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    padding-top: 86px;
    max-width: 1600px;
    width: 100%;
    margin: 0 120px;
    padding-right: 10px;
    padding-left: 10px;

    @media screen and (max-width: 1024px) {
      margin: 0 auto;
    }

    @media screen and (max-width: 400px) {
      padding-right: 0;
    }

    @media screen and (max-width: 400px) {
      padding-left: 6px;
    }
  }

  &__title {
    font-weight: 800;
    font-size: 56px;
    line-height: 72px;
    color: #fff;
    margin-bottom: 54px;

    @media screen and (max-width: 1024px) {
      font-size:  40px;
    }
  }

  &__winners-row {
    display: flex;
    flex-wrap: wrap;

    @media screen and (max-width: 1024px) {
      max-height: auto;
      flex-wrap: wrap;
    }

    .card-winner {
      margin-right: 20px;
      margin-bottom: 24px;
      flex-basis: calc(100% / 5 - 16px);

      &:nth-child(5n) {
        margin-right: 0;
      }

      @media screen and (max-width: 1600px) {
        flex-basis: calc(100% / 4 - 16px);

        &:nth-child(4n) {
          margin-right: 0;
        }

        &:nth-child(5n) {
          margin-right: 20px;
        }
      }

      @media screen and (max-width: 1366px) {
        flex-basis: calc(100% / 3 - 16px);

        &:nth-child(3n) {
          margin-right: 0;
        }

        &:nth-child(4n) {
          margin-right: 20px;
        }
      }

      @media screen and (max-width: 1024px) {
        flex-basis: calc(100% / 2 - 10px);
        max-width: 100%;

        &:nth-child(3n) {
          margin-right: 20px;
        }

        &__title {
          max-width: 100%;
          text-align: center;
        }
      }

      @media screen and (max-width: 1024px) {
        &__title {
          font-size: 20px;
        }

        &__descr {
          font-size: 20px;
          font-weight: 600;
        }

        
        &:nth-child(2n) {
          margin-right: 0;
        }
      }

      @media screen and (max-width: 420px) {
        &__title {
          font-size: 18px;
        }

        margin-right: 3px;
        flex-basis: calc(100% / 2 - 5px);
        &:nth-child(2n) {
          margin-right: 0;
        }
        margin-right: 3px;
        &:nth-child(3n) {
          margin-right: 3px;
        }

        &:nth-child(5n) {
          margin-right: 3px;
        }

      }
      
    }

    
  }

  &__info {
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #ffffff;
    text-align: center;
    margin: 10px 0;
  }
}

.card-winner {
  background: #f8f8f8;
  box-shadow: 0px 6px 12px rgba(255, 255, 255, 0.12);
  max-width: 317px;
  padding: 16px;
  box-sizing: border-box;

  &__title {
    font-weight: 500;
    font-size: 25px;
    line-height: 32px;
    text-transform: uppercase;
    color: #007ac9;
    text-align: center;
    max-width: 277px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &:after {
      content: "";
      margin-top: 22px;
      width: 72px;
      height: 2px;
      background: #ef5c27;
    }
  }

  &__descr {
    font-size: 27px;
    line-height: 32px;
    color: #393939;
    text-align: center;
  }

  &__sub-descr {
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: #393939;
  }

  &__plush {
    margin-top: 16px;
    background: linear-gradient(165.52deg, #00a0e3 55.85%, #007ac9 97.78%, #007ac9 97.78%);
    border-radius: 6px;
    padding: 16px 15px;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #ffffff;
  }
}
