
mixin card()
  .card-winner
    .card-winner__title Антон Пампушный
    .card-winner__descr Сертификат
    .card-winner__sub-descr на 10 000 руб.
    .card-winner__plush 5 мая 2020, г. Кемерово +7952*****71


section.js-slide.main__slide(data-slide="4").page.page-4.page#page-4
  .page-4__content
    .page-4__title Победители
    .page-4__winners-row
          +card()
          +card()
          +card()
          +card()
          +card()
          +card()
          +card()
          +card()
          +card()
          +card()
          +card()
          +card()
          +card()
          +card()
          +card()
          +card()
    .page-4__info  © Новэкс, 2020. Все права защищены.                               
  

