.page-3 {
  &__left {
    background: radial-gradient(50% 50% at 50.99% 50%, #00a0e3 42.71%, #007ac9 83.85%, #007ac9 100%);
  }

  &__right {
    background-image: url("../img/slide_4/right.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &__row-btn {
    display: flex;
    width: 100%;

    @media screen and (max-width: 1024px) {
      flex-direction: column;
    }
  }

  &__btn {
    font-weight: 400;
    font-size: 1vw;

    @media screen and (max-width: 1024px) {
      font-size: 20px;
      margin-bottom: 10px;
      text-align: center;
    }
  }

  &__btn_right {
    margin-right: 0.9vw;
  }

  &__content {
    padding: 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 34vw;
    margin: 0 auto;
    height: 100%;

    @media screen and (max-width: 1024px) {
      max-width: 640px;
      padding: 20px 15px;
    }
  }

  &__title {
    font-weight: 800;
    font-size: 2.88vw;
    line-height: 6.73vh;
    margin-bottom: 2.5vh;
    color: #fff;
    text-transform: uppercase;

    @media screen and (max-width: 1024px) {
      font-size: 56px;
      
    }

    @media screen and (max-width: 600px) {
      font-size: 35px;
      text-align: center;
    }
  }

  &__descr {
    font-weight: 500;
    font-size: 1.1685vw;
    line-height: 3.3vh;
    margin-bottom: 5.2vh;
    color: #fff;

    @media screen and (max-width: 1024px) {
      font-size: 24px;
      line-height: 1.4;
    }

    @media screen and (max-width: 600px) {
      font-size: 20px;
    }
  }
}
