section.js-slide.main__slide(data-slide="3").page.page-3.page#page-3
  .page__left.page-3__left
    .page-3__content
      .page-3__title Полные правила акции
      .page-3__descr Сроки проведения розыгрыша с 6 апреля по 31 мая 2020 года.  Информация об Организаторе Акции, о правилах её проведения, количестве призов, сроках, месте и порядке их получения размещается на сайте www.tide.novex.ru или сообщается по телефону горячей линии 8 (800) 200-45-50. 656023, г. Барнаул, ул. Германа Титова, 13, ИНН 2222058686, ОГРН 1062222038812.
      .page-3__row-btn
        a(href="javascript:void(0)").btn.page-3__btn.page-3__btn_right Открыть в новой вкладке
        a(href="javascript:void(0)").btn.page-3__btn Скачать в PDF
  .page__right.page-3__right