.page-2 {
  &__left {
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.9) 13.11%, rgba(255, 255, 255, 0) 100%),
      url("../img/slide_3/left.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
  }

  &__right {
    background-color: #fff;
    position: relative;
  }

  &__option {
    display: flex;
    flex-direction: column;

  }

  &__img {
    position: absolute;
    bottom: -5%;
    left: 4%;
    max-width: 25vw;

    img {
      width: 100%;
      height: 100%;
    }

    @media screen and (max-width: 1024px) {
      max-width: 500px;
      position: relative;
      bottom: -50px;
    }
  }

  .open-first-form {
    cursor: pointer;
    margin: 10px 0;
  }

  &__descr {
    color: #007ac9;
  }

  &__success {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    @media screen and (max-width: 1024px) {
      margin-top: 20px;
      margin-bottom: 50px;
    }
  }

  &__title {
    font-weight: 800;
    color: #007ac9;
    margin: 0 auto;
    text-transform: uppercase;
    font-size: 2.905vw;
    line-height: 6.7vh;
    max-width: 30vw;
    padding-top: 5.999vh;

    &_sm {
      font-size: 1vw;
      max-width: 100%;
      text-align: left;
      margin: 0;
    }

    @media screen and (max-width: 1024px) {
      font-size: 56px;
      max-width: 638px;
      margin-bottom: 10px;
    }

    @media screen and (max-width: 600px) {
      font-size: 35px;
      padding-right: 10px;
      padding-left: 10px;
      text-align: center;

      &_sm {
        font-size: 27px;
        line-height: 1.4;
      }
    }
  }

  &__form {
    padding-top: 10.5vh;
    margin-left: 5.9vw;
    max-width: 34.5vw;
    width: 100%;
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 1024px) {
      max-width: 662px;
      margin: 0 auto;
      padding-top: 50px;
      margin-bottom: 20px;
    }

    @media screen and (max-width: 1024px) {
      padding: 40px 10px;
    }
  }

  &__label {
    position: relative;
    &:before {
      position: absolute;
      content: attr(data-name) " ";
      font-weight: bold;
      font-size: 15px;
      line-height: 19px;
      color: #007ac9;
      background-color: transparent;
      transition: transform .3s ease,
                  background-color .4s ease-in;
      transform: translate(1.4vw,2.5vh);
    }
  }

  &__label.not-empty:before {
    transform: translate(1vw,-0.8vh);
    padding: 0 0.25vw;
    background: #fff;
  }

  &__input {
    padding: 1.91vh 1.31vw 1.71vh 1.31vw;
    box-sizing: border-box;
    font-size: 0.911vw;
    line-height: 2.2vh;
    width: 100%;
    color: #443e3e;
    border: 3px solid #007ac9;
    font-weight: normal;
    box-sizing: border-box;
    border-radius: 6px;
    margin-bottom: 2vh;

    @media screen and (max-width: 1024px) {
      font-size: 18px;
    }

    &::placeholder {
      color: #999999;
    }
  }

  &__checkbox {
    display: none;
  }

  &__checkbox:checked + &__checkbox-label:before {
    background-image: url("data:image/svg+xml,%3Csvg width='15' height='12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.75 8.907L1.72 5.878l-.121-.12-.121.12-1.05 1.05-.122.122.122.12 4.2 4.2.12.122.122-.121 9-9 .121-.121-.121-.122-1.05-1.05-.121-.12-.121.12-7.83 7.83z' fill='%23fff' stroke='%23fff' stroke-width='.343'/%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
  }

  &__checkbox-label {
    font-size: 0.811vw;
    line-height: 2.31vh;
    color: #999999;
    cursor: pointer;
    display: flex;
    font-weight: normal;
    position: relative;

    padding-left: 2.1vw;
    &:before {
      pointer-events: none;
      position: absolute;
      left: 0;
      width: 24px;
      height: 24px;
      content: "";
      background: #007ac9;
      border-radius: 4px;
    }

    @media screen and (max-width: 1024px) {
      font-size: 18px;
      padding-left: 40px;
      line-height: 1.25;
    }
  }

  &__btn {
    max-width: 11.3vw;
    margin-top: 2.99vh;
    cursor: pointer;

    @media screen and (max-width: 1024px) {
      max-width: 216px;
    }
  }
}
