section.js-slide.main__slide(data-slide="2").page.page-2
  .page__left.page-2__left
    .page-2__title Зарегистрируй специальный код с чека
    .page-2__img
      img(src="./img/slide_3/1.png",)
  .page__right.page-2__right#page-2
    form.page-2__form.js-form
      .page-2__option.js-label
        span.msg-error
        label.page-2__label(data-name="Имя")
          input(data-valid="empty").page-2__input
      .page-2__option.js-label
        span.msg-error    
        label.page-2__label(data-name="Город")
          input.page-2__input(data-valid="empty")
      .page-2__option.js-label
        span.msg-error    
        label.page-2__label(data-name="Телефон")  
          input.page-2__input(data-valid="empty" data-mask="+7 (000) 000-00-00")
      .page-2__option.js-label
        span.msg-error    
        label.page-2__label(data-name="Уникальный код с чека")  
          input.page-2__input(data-valid="empty" data-mask="000000000000000000")
      .page-2__option.js-label
        span.msg-error    
        label.page-2__label(data-name="Номер бонусной карты")  
          input.page-2__input(data-valid="empty" data-mask="000-000-000")
      .page-2__option.js-label
        span.msg-error    
        label.page-2__label(data-name="Электронная почта")  
          input.page-2__input(data-valid="empty")
      input(type="checkbox" id="novex" checked).page-2__checkbox.js-checked
      label(for="novex").page-2__checkbox-label Я ознакомлен и принимаю Условия розыгрыша,согласен на обработку персональных данных
      button(type="button").btn.page-2__btn.js-send-form Отправить
    form.page-2__form(style="display:none;")
      .page-2__title.page-2__title_sm Укажите пришедший смс код
      .page-2__option.js-label
        span.msg-error    
        label.page-2__label(data-name="Код из смс")  
          input.page-2__input(data-valid="empty")
        button(type="button").btn.page-2__btn Отправить
    .page-2__success(style="display:none;")
      .page-2__title.page-2__title_sm Спасибо!
      .open-first-form.btn Зарешистрировать еще
      .page-2__descr Сохраняйте чек до конца акции!

      