.page-1 {
  position: relative;

  &__img {
    position: absolute;
    bottom: -2vh;
    width: 50vw;
    left: 0;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }


    @media screen and (max-width: 1024px){
      position: relative;
      width: 100%;
    }
  }

  &__descr {
    padding-top: 8.4vh;
    text-align: center;
    margin-bottom: 1.5vh;
    font-weight: 500;
    font-size: 1.21vw;
    line-height: 2.85vh;
    color: rgba($color: #fff, $alpha: 0.8);

    @media screen and (max-width: 1024px){
      font-size: 24px;
    }
  }

  &__title {
    font-weight: 800;
    font-size: 2.91vw;
    line-height: 6.7vh;
    max-width: 36vw;
    margin: 0 auto;
    color: #fff;
    margin-bottom: 5.6vh;
    text-transform: uppercase;
    text-align: center;

    @media screen and (max-width: 1024px){
      font-size: 56px;
      max-width: 700px;
    }

    @media screen and (max-width: 600px){
      font-size: 25px;
      line-height: 25px;
      margin-bottom: 10px;
    }
  }

  &__subtitle {
    text-align: center;
    color: rgba($color: #fff, $alpha: 0.8);
    font-weight: 800;
    font-size: 28px;
    line-height: 35px;

    @media screen and (max-width: 600px){
      font-size: 20px;
    }

  }

  &__left {
    padding: 0.5vw;
    @media screen and (max-width: 1024px){
      padding: 0;
    }
    background: radial-gradient(50% 50% at 50.99% 50%, #00a0e3 42.71%, #007ac9 83.85%, #007ac9 100%);
  }

  &__right {
    padding: 0.5vw;
    @media screen and (max-width: 1024px){
      padding: 0;
      padding-bottom: 20px;
    }
    background: radial-gradient(49.48% 49.48% at 47.6% 52.03%, #ffc2d1 0%, #ef94a9 38.43%, #d74c6d 100%);
    position: relative;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-image: url("../img/slide_2/right.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      opacity: 0.2;
    }
  }

  &__title_right {
    padding-top: 10.9vh;
    padding-bottom: 6vh;

    @media screen and (max-width: 799px){
      padding-bottom: 0;
    }

  }

  &__item-row {
    display: flex;
    justify-content: center;

    @media screen and (max-width: 1024px){
      justify-content: space-evenly;
    }

    @media screen and (max-width: 799px){
      flex-direction: column;
      align-items: center;
    }
  }

  &__tide {
    height: 8.5vh;
    top: -3vh;
    
  }

  &__item {
    position: relative;

    &:last-child {
      margin-right: 0;
    }
  }

  &__item-icon_left {
    max-width: 22vw;

    @media screen and (max-width: 1024px){
      max-width: 380px;
    }
  }

  &__item-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    z-index: 1;

    @media screen and (max-width: 1024px){
      max-height: 305px;
      min-height: 305px;
    }

  }

  &__item-text {
    padding-top: 1.8vh;
    max-width: 20.2vw;
    font-size: 1.71vw;
    line-height: 4vh;
    font-weight: bold;
    color: #fff;

    @media screen and (max-width: 1024px){
      max-width: 360px;
      font-size: 34px;
      text-align: center;
    }

    @media screen and (max-width: 600px){
      font-size: 21px;
      max-width: 100%;
    }
  }



  &__item-text_block {
    display: block;
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;
    color: rgba($color: #fff, $alpha: 0.8);
  }
}
