section.js-slide.main__slide(data-slide="1").page.page-1#page-1
  .page__left.page-1__left
    .page-1__descr.wow.slideInLeft с 6 апреля по 31 мая 
    .page-1__title.wow.slideInLeft Купи любой товар марки Tide
    .page-1__subtitle.wow.slideInLeft Зарегистрируй код с чека
    .page-1__img
      img(src="./img/slide_2/1.png",)
  .page__right.page-1__right
    .page-1__title.page-1__title_right Участвуй в розыгрыше призов!
    .page-1__item-row
      .page-1__item
        .page-1__item-icon.page-1__item-icon_left
          img(src="./img/slide_2/2.png").page-1__item-img          
        .page-1__item-text 1 из 16 сертификатов на бытовую технику номиналом 10 000 ₽
      .page-1__item
        .page-1__item-icon.page-1__item-icon_left
          img(src="./img/slide_2/3.png").page-1__item-img       
        .page-1__item-text.page-1__item-text_right
          span.page-1__item-text_block или
          span.tide-wrapper годовой запас
            span.tide.page-1__tide
