.main.js-slider-wrapper
  .menu-open.js-menu-open
  include ../../components/navigation/navigation
  include ../../components/page-0/page-0
  include ../../components/page-1/page-1
  include ../../components/page-2/page-2
  include ../../components/page-3/page-3
  include ../../components/page-4/page-4