.main {
  position: relative;

  &__slide {
    overflow: hidden;
    position: absolute;
    transition: transform .5s ease-in-out;
    transform: translateY(100%);

    &.active {
      transform: translateY(0);
      transition: transform .5s ease-in-out;
    }

    &.wathed {
      transform: translateY(0);
    }

    &.last {
      overflow-y: scroll;
    }
    
    @media screen and (max-width: 1024px){ 
      overflow: unset;
      position: static;
      transform: translateY(0);
      height: 100%;
    }
  }

 

}

::-webkit-scrollbar { /* chrome based */
  width: 0px;  /* ширина scrollbar'a */
  background: transparent;  /* опционально */
}

html {
  -ms-overflow-style: none;  /* IE 10+ */
  scrollbar-width: none; /* Firefox */
}

@media screen and (max-width: 1024px){
  ::-webkit-scrollbar { /* chrome based */
    width: auto;  /* ширина scrollbar'a */
    background: initial;  /* опционально */
  }
  
  html {
    -ms-overflow-style: initial;  /* IE 10+ */
    scrollbar-width: initial; /* Firefox */
  }
}