section.js-slide.main__slide(data-slide="0").page-0.page.active#page-0
  .page-0__left
    .page-0__content.wow.slideInLeft
      .page-0__wrapper
        .page-0__logo
          img(src="./img/sprites/intermediate-svg/logo.svg", alt="novex logo")
        h2.page-0__description с 6 апреля по 31 мая   
        h1.page-0__title Купи Tide и Выиграй
        .page-0__item-row
          .page-0__item.wow.fadeInUp
            .page-0__item-img.page-0__item-img_left
               img(src="./img/slide_1/1.png", alt="novex logo")
            .page-0__item-text 1 из 16 сертификатов  на бытовую технику номиналом 10 000 ₽
          .page-0__item.wow.fadeInUp
            .page-0__item-img.page-0__item-img_right
              img(src="./img/slide_1/2.png", alt="novex logo")
            .page-0__item-text
              span.page-0__item-text_block или
              span.tide-wrapper годовой запас
                span.tide 
        a(href="javascript:void(0)" data-to-slide="2" data-scroll="page-2").js-slide-navigation.btn.page-0__btn Зарегистрировать код     
  .page-0__right
