.page-0 {
  display: flex;
  &__left,
  &__right {
    flex-basis: 50%;
  }

  &__content {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 1vw;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 8vh;

    @media screen and (max-width: 1024px){
      width: 100%;
      padding: 0 15px;
      padding-bottom: 10px;
    }
  }

  &__logo {
    
    max-width: 24.5vw;
    max-height: 4vh;
    display: flex;
    justify-content: center;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    @media screen and (max-width: 1024px){
      max-width: 480px;
    }
  }

  &__title  {
    font-weight: 800;
    font-size: 4.61vw;
    line-height: 9.15vh;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    margin-top: 1.12vh;
    margin-bottom: 3.3vh;

    

  }

  &__item-img {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  
  &__wrapper {
    @media screen and (max-width: 1024px){
      padding-top: 69px;
    }
  }

  &__item {
    @media screen and (max-width: 1024px){
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__item-img_left {
    max-width: 312px;
    max-height: 211px;
  }

  &__item-img_right {
    max-width: 335px;
    max-height: 211px;
  }

  &__description {
    font-weight: 500;
    font-size: 1.15vw;
    line-height: 2.5vh;
    padding-top: 3.6vh;
    text-align: center;
    color: rgba($color: #fff, $alpha: 0.8);

    @media screen and (max-width: 1024px){
      font-size: 22px;
    }
  }

  &__btn {
    margin-top: 44px;
  }

  &__item-text {
    color: #fff;
    font-size: 1.77vw;
    padding-top: 4.4vh;
    line-height: 4vh;
    font-weight: bold;
    max-width: 20.5vw;

    @media screen and (max-width: 1024px){
      font-size: 34px;  
      max-width: 100%;
      text-align: center;
    }

    @media screen and (max-width: 600px){
      font-size: 24px;  
    }

  }

  &__item-text_block {
    display: block;
    font-weight: 500;
    font-size: 22px;
    color: rgba($color: #fff, $alpha: 0.8);
    line-height: 28px;
  }

  &__item-row {
    display: flex;

    @media screen and (max-width: 1024px){
      flex-direction: column;
    }

  }


  &__left {
    background: radial-gradient(50% 50% at 50.99% 50%, #00A0E3 42.71%, #007AC9 83.85%, #007AC9 100%);      
    position: relative;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-image: url("../img/slide_1/left.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      opacity: .5;
      mix-blend-mode: multiply;
    }
  }

  &__right {
    background-image: url("../img/slide_1/right.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}