.navigation.js-menu
  .navigation__close.js-menu-close
  ul.js-slide-navigation.navigation__list
    li(data-to-slide="0" data-scroll="page-0").navigation__item Главная
    li(data-to-slide="1" data-scroll="page-1").navigation__item О конкурсе
    li(data-to-slide="2" data-scroll="page-2").navigation__item Форма Регистрации
    li(data-to-slide="3" data-scroll="page-3").navigation__item Полные правила акции
    li(data-to-slide="4" data-scroll="page-4").navigation__item Победители