.navigation {
  background: linear-gradient(324.06deg, #ffc2d1 3.94%, #ef94a9 24.98%, #d74c6d 92.38%);
  width: 50vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  transition: transform .4s ease;
  transform: translateX(-100%);

  @media screen and (max-width: 1024px) {
    width: 100%;
  }

  &.open {
    transform: translateX(0);
  }

  &__list {
    list-style: none;
    padding: 12vw 0 0 8.2vw;

    @media screen and (max-width: 1024px) {
      padding-top: 150px;
      padding-left: 50px;
    }
  }

  &__close {
    position: absolute;
    width: 28px;
    height: 28px;
    top: 4vw;
    left: 3vw;
    display: block;
    background-image: url("data:image/svg+xml,%3Csvg width='29' height='29' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M26.87 0l1.414 1.414-12.728 12.728L28.284 26.87l-1.414 1.414-12.728-12.728L1.414 28.284 0 26.87l12.728-12.728L0 1.414 1.414 0l12.728 12.728L26.87 0z' fill='%23fff'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    cursor: pointer;
  }

  &__item {
    font-family: "Geometria", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 40px;
    color: #fff;
    margin-bottom: 2.7vw;
    opacity: 0.8;
    transition: all 0.3s ease;
    cursor: pointer;

    &:last-child {
      margin-bottom: 0;
    }

    @media screen and (max-width: 1024px) {
      font-size: 22px;
    }

    &.active,
    &:hover {
      font-size: 44px;
      line-height: 55px;
      position: relative;
      opacity: 1;
      &:before {
        content: "";
        position: absolute;
        width: 28px;
        height: 3px;
        left: -30px;
        background-color: #fff;
        top: 50%;
        transform: translateX(-50%);
      }

      @media screen and (max-width: 1024px) {
        font-size: 27px;
      }
    }
  }
}

.menu-open {
  position: fixed;
  z-index: 20;
  width: 40px;
  height: 28px;
  top: 4vw;
  left: 3vw;
  display: block;
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h40v2H0V0zM0 12h30v2H0v-2zM0 24h20v2H0v-2z' fill='%23fff'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;

  &.blue {
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h40v2H0V0zM0 12h30v2H0v-2zM0 24h20v2H0v-2z' fill='%23007AC9'/%3E%3C/svg%3E");
  }
}
