* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Geometria", sans-serif;
  font-weight: 500;
  overflow: hidden;

  @media screen and (max-width: 1024px) {
    overflow-y: scroll;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
  padding: 0;
}

section {
  width: 100%;
  height: 100vh;
}

.tide-wrapper {
  position: relative;

  @media screen and (max-width: 1024px){
    display: flex;
    flex-direction: column;
    align-items: center;
  }

}

.msg-error {
  color: red;
  margin-bottom: 1vh;
}

input.error {
  border-color: red;
}

button[disabled] {
  opacity: .6;
  cursor: not-allowed;
}

.tide {
  position: absolute;
  width: 5.5vw;
  height: 10vh;
  top: -3.9vh;
  right: -6vw;
  background-image: url("../img/sprites/intermediate-svg/tide.svg");
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;

  @media screen and (max-width: 1024px){
    width: 110px;
    height: 110px;
    position: static;    
  }

}

.btn {
  display: inline-block;
  line-height: 2.6vh;
  font-size: 1.151vw;
  padding: 1.85vh 2.5vw;
  background: #ff4f73;
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-sizing: border-box;
  border-radius: 4px;
  color: #fff;
  text-decoration: none;

  transition: box-shadow .2s ease,
              background-color .4s ease;

  &:hover {
    box-shadow: 0px 4px 22px rgba(255, 79, 115, 0.84);
  }

  &:active {
    background: #ED395E;
  }

  @media screen and (max-width: 1024px){
    font-size: 22px;
    padding: 20px 48px; 
  }

  @media screen and (max-width: 600px){
    font-size: 18px;
    padding: 18px 46px; 
  }



}

.page {
  display: flex;
  &__left,
  &__right {
    flex-basis: 50%;
  }

  &__content {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  
  @media screen and (max-width: 1024px){ 
    flex-direction: column;
    &__left,
    &__right {
    flex-basis: auto;
    }
    &__content {
      height: auto;
    }
  }
}
